.logo {
  text-align: center;
  padding: 15vh 0 8.5vh;
  max-width: 45%;
  margin: auto;
}

ion-content.login-page {
  background: url('../img/login_bg.png') no-repeat center;
  background-size: cover;
  text-align: center;
}

@media(min-width:376px){
  .login-form {
    width: 80%;
    margin: auto;
  }
}

.login-form {
  position: relative;

  .error-box {
    position: absolute;
    top: -4rem;
    background: #fe0000;
    padding: 1rem;
    color: #fff;
    left: 50%;
    border-radius: 1rem;
    transform: translate(-50%, 0);
    display: inline-block;

    &.bottom {
      top: 6.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      width: 1.5rem;
      height: 1.5rem;
      top: 2.75rem;
      margin-left: -0.75rem;
      background: #fe0000;
      box-shadow: inset -1px 1px 0 #fe0000;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Chrome, Safari, Opera */
      transform: rotate(45deg);
    }
  }

  .url > input{
    text-transform: lowercase;
  }

  .item {
    background-color: transparent;
    color: #afb1ca;
    text-align: center;

    &.item-input, &.item-checkbox {
      background-color: transparent;
      color: #afb1ca;
    }

    &.item-input {
      ion-label {
        color: #afb1ca;
        font-size: 1.4rem;
        font-weight: 300;
      }

      .text-input {
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
      }
      .item-inner {
        border-bottom: 1px solid rgba(222,222,222,0.15);
      }
    }
  }
  .item-checkbox {
    color: #afb1ca;
    ion-label {
      font-size: 1.2rem;
      font-weight: 300;
      display: inline-block;
    }

    min-height: 3rem;

    ion-checkbox, input[type='checkbox'] {
      margin: 12px 4px 10px 36px;
      display: inline-block;
      .checkbox-icon {
        background-color: transparent;
        border: 1px solid #bbb;
        border-radius: 0;
      }
    }
    input[type="checkbox"] {
      position: relative;
      border: none;
      -webkit-appearance: none;
      appearance: none;

      &:focus {
        outline: none;
      }

      &:focus:after {
        border-color: #bbb;
      }

      &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-right: 5px;
        border: 1px solid #bbb;
        transition: 240ms;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        display: table;
        width: 5px;
        height: 10px;
        border: 1px solid transparent;
        border-top-width: 0;
        border-left-width: 0;
        -ms-transform: rotate(40deg); /* IE 9 */
        -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
      }

      &:checked:before {
        border-color: #bbb;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);

      }
    }

    .item-inner {
      border: none;
      padding-left: 8px;
      text-align: left;
    }
  }

  .pwd-wrapper {
    position: relative;

    ion-icon {
      position: absolute;
      top: 30px;
      font-size: 23px;
      right: 5px;
      color: #afb1ca;
    }
  }

  .submit {
    margin-top: 7.5vh;
    text-align: center;

    button {
      background-color: #cbcbcb;
      text-transform: none;
      font-size: 1.25rem;
      height: 4.25rem;
      border-radius: 2rem;
      padding: 0 5.5rem;
    }
  }
}

.switch-login {
  position: absolute;
  bottom: 1vh;
  left: 0;
  width: 100%;
  //margin-top: 7.5vh;
  text-align: center;

  button {
    background-color: #cbcbcb;
    text-transform: none;
    font-size: 1.15rem;
    height: 2.5rem;
    border-radius: 2rem;
    padding: 0 3rem;
    opacity: .6;
  }
}
