.bg-small {
  margin: -16px;
  margin-bottom: 2rem;
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

ion-title {
  text-align: center;
}

.slide-content {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 70px;
  // > * {
  //   margin-left: -70px;
  // }
}

.report-info {
  .navigation {
    height: 14rem;
    ion-icon {
      line-height: 2rem;
      padding-top: 2rem;
      font-size: 2rem;
      display: block;
    }
    .segment-button {
      height: 8rem;
      border: none;
      text-transform: none;
      opacity: 1;
      line-height: 2rem;
      font-size: 1.4rem;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.75);
      transition: color 0.75s ease;
      &:hover {
        background: transparent;
        &:not(.disabled) {
          transition: color 0.75s ease;
          color: #fff;
        }
      }
      &.disabled{
        color: rgba(255, 255, 255, 0.25);
      }
      &.segment-activated {
        background-color: transparent;
      }
    }
    .info.segment-button {
      height: 11rem;
      color: #fff;
      font-size: 2rem;
      line-height: 2.75rem;
      padding-top: 1rem;
      .week {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 400;
      }
      .dates {
        font-size: 1.15rem;
        color: #afb1ca;
      }
      &:hover {
        cursor: default;
      }
    }
  }

  .hours {
    height: 4rem;
    font-size: 1.15rem;
    line-height: 1.15rem;
    color: #fff;
    font-weight: 300;
    div {
      position: relative;
      height: 4rem;
      padding-top: 2.25rem;
      top: -2rem;
      min-width: 4rem;
      box-shadow: 0 -0.15rem 0 #fe0000;
      font-weight: bold;
      display: inline-block;
      color: map-get($colors, primary);
    }
  }
}

.report-page {
  position: relative;
  scroll-content {
    padding: 16px 0;
  }
}

ion-list {
  border-top: 1px solid #c8c7cc;

  .item {
    border-bottom: 1px solid #c8c7cc;
    &.item-stable {
      .day {
        color: #f07306;
        font-weight: 600;
      }
      .day-hours {
        float: right;
        padding-right: 5px;
      }

      ion-icon {
        color: #f07306;
        font-size: 2.7rem;
        position: absolute;
        right: 10px;
        top: 9px;
      }

      .missed-hours {
        color: #aeaeae;
      }
    }
  }

  ion-item ion-label {
    margin-right: 20px!important;
  }

  .item.item-block .item-inner {
    border-bottom: none;
  }

  .item.item-accordion {
    line-height: 3rem;
    height: 6.5rem;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    background-color: #f9f9f9;
    &.ng-hide {
      line-height: 0px;
    }
    &.ng-hide-add, &.ng-hide-remove {
      display: block !important;
    }

    .info, .hours {
      display: inline-block;
    }

    .info {
      width: 70%;
      text-align: left;
      height: 100%;
      vertical-align: middle;
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 2.5rem;
        &.header {
          color: #222;
          font-size: 1.6rem;
        }
      }
    }
    .hours {
      text-align: right;
      float: right;
      p {
        line-height: 1.75rem;
      }
      .issue-id {
        background-color: #ebebeb;
        padding: 0.5rem;
        line-height: 2.5rem;
        position: relative;
        top: -0.25rem;
      }
    }
  }
}

.alert-cmp {
  .alert-wrapper {
    max-width: 400px;
    width: 87%;
    min-width: 0;
    background-color: #fff;
    border-radius: 0.65rem;
    .alert-head {
      color: map-get($colors, primary);
      border-bottom: 2px solid map-get($colors, primary);
      h2 {
        font-size: 15px;
        text-align: left;
        &::before {
          padding-right: 5px;
          font-weight: 500;
        }
      }
    }

    .alert-message {
      padding: 16px 16px 10px 30px;
      font-size: 15px;
      color: #666;
      text-align: left;
    }
    .alert-button {
      font-size: 14px;
      border: none;
      &::before {
        font: normal normal normal 14px / 1 FontAwesome;
        padding: 5px;
        font-size: 20px;
        position: relative;
        top: 2px;
      }

      &:first-child {
        text-align: right;
      }
      &.confirm {
        color: #7cb73d;
        &::before {
          content: "\f00c";
        }

      }
      &.dismiss {
        color: #ff0000;
        &::before {
          content: "\f05e";
        }
      }
    }

    .alert-input {
      font-size: 1.25rem;
      text-align: center;
      border: none;
      border-bottom: 1px solid rgba(204,204,204,0.35);
      border-radius: 0;
    }
  }
}