.grid-page {

  .grid {
    background-color: #F9FAFB;
    ion-col {
      padding: 0;
      border: solid #ddd;
      border-width: 1px 0 0 1px;
      border-radius: 0;
      div {
        min-height: 30px;
        text-align: center;
        padding: 5px;
      }
      &:last-child {
        border-width: 1px 1px 0 1px;
      }
    }

    ion-row {
      padding: 0;
      font-size: 15px;
      &.header {
        font-weight: bold;
      }
      &.project-row {
        font-style: italic;
        color: #777;
      }
      ion-col{
        div:not(.name):not(.issue){
          font-weight: bold;
          font-size: 13px;
        }
      }
      &:last-child {
        ion-col {
          border-bottom: 1px solid #ddd;
          color: #000;
          font-weight: bold;
        }
      }
    }
  }
}