<ion-menu [content]="content">

    <ion-content>
        <div *ngIf="user" class="user-info">
            <p>
                <img src={{user.src}}/>
            </p>

            <h2>
                {{user.name}}
            </h2>
            <p>{{user.email}}</p>
        </div>
        <ion-list>
            <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
