@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-UltraLight.eot');
  src: url('../fonts/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-UltraLight.woff') format('woff'),
  url('../fonts/Montserrat-UltraLight.ttf') format('truetype'),
  url('../fonts/Montserrat-UltraLight.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf') format('truetype'),
  url('../fonts/Montserrat-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
}

ion-navbar {
  &.toolbar {
    min-height: 4.25rem;
  }

  .toolbar-background {
    background: map-get($colors, primary);
  }
  .bar-button-default {
    color: #fff;
    &:hover {
      color: #d66907!important;
    }
  }
  .toolbar-title {
    color: #fff;
    font-weight: 400;
    font-size: 1.75rem;
  }
}

.icon {
  display: inline-block;
  font: normal normal normal 14px / 1 Icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon-clock:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e901";
}
.icon-key:before {
  content: "\e902";
}
.icon-menu:before {
   content: "\e903";
}
.icon-off:before {
  content: "\e904";
}

.icon-menu {
  font-size: 2rem;
}