.settings {
  margin-top: 32px;
}
.settings-title {
  margin-right: 3rem;
}

.bg-small.settings {
  margin-top: 0;
  background-image: url(../img/settings_top_2.jpg);

  &.vacation {
    background-image: url(../img/settings_top.jpg);
  }
}

.info {
  text-align: center;
  h2{
    margin: 1.6rem 0;
  }
  .loading {
    height: 134px;
    ion-spinner {
      position: relative;
      top: calc(50% - 28px);
      height: 56px;
      width: 56px;
    }
  }
}

.user-info {
  text-align: center;
  margin: 3.75rem 0;
  .avatar{
    width: 10rem;
    margin: auto;
    img {
      border-radius: 50%;
    }
  }
  .name {
    margin-bottom: 0;
    font-size: 1.875rem;
    margin-top: 0.75rem;
  }
  .email {
    font-size: 1.15rem;
    color: #aba9be;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1.5rem;
  }
}

.logo-bottom {
  position: absolute;
  width: 6rem;
  left: 50%;
  margin: 3rem 0 3rem -3rem;
  @media(min-height: 526px) {
    & {
      bottom: 0;
    }
  }
}


ion-list.settings, ion-list.side-menu {
  border-color: rgba(200,199,204,0.5);
  .item {
    border-color: rgba(200, 199, 204, 0.5);
    .item-inner {
      color: #474747;
      font-size: 1.35rem;
    }
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-color: rgba(200, 199, 204, 0.5);
    }
  }
}

ion-list.side-menu {
  .item {
    .fa, .icon {
      padding-right: 1.5rem;
      color: #7d7d7d;
    }
  }
}
ion-list.settings{
  .item {
    .item-inner {
      color: #9f9eb5;
    }
    ion-note{
      color: #333;
    }
    .fa, .icon {
      padding-left: 1.5rem;
      color: #f07306;
    }
  }
  .toggle-icon {
    background-color: #9f9eb5;
    width: 3.5rem;
    height: 2rem;
    border-radius: 1rem;
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      left: 2px;
      bottom: 2px;
      border-radius: 16px;
      background-color: #fff;
    }
    &.toggle-checked {
      background-color: #f6cca6;
      &::before {
        background-color: #f6cca6;
      }
      .toggle-inner {
        -webkit-transform: translate3d(1.625rem, 0, 0);
        transform: translate3d(1.625rem, 0, 0);
      }
    }
    .toggle-inner {
      top: 0.35rem;
      left: 0.35rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: #f07306;
    }
  }
}