<ion-navbar hideBackButton *navbar>
    <button menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
</ion-navbar>

<ion-content padding class="info">
    <div *ngIf="!name" class="loading">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="name">
        <p class="avatar">
            <img src={{src}}/>
        </p>

        <h2>
            Hello, {{name}}
        </h2>
    </div>
    <p>Logged hours for this week: {{hours}}</p>
    <ion-list *ngIf="projects">
        <ion-list-header>
            Projects
        </ion-list-header>
        <ion-item *ngFor="#project of projects">
            {{project}}
        </ion-item>
    </ion-list>
    <button round (click)="openReport($event)">See full report</button>
</ion-content>