.info {
  text-align: center;
  h2{
    margin: 1.6rem 0;
  }
  .loading {
    height: 134px;
    ion-spinner {
      position: relative;
      top: calc(50% - 28px);
      height: 56px;
      width: 56px;
    }
  }
}

.avatar {
  height: 80px;
}